.signin-page {
  height: 100vh;
  background: url("../../assets/img/signin-bg.png") no-repeat center !important;
  background-size: cover !important;

  .main-form {
    background: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(255, 255, 255, 0.07);
    box-shadow: 6px 11px 36px rgba(14, 19, 55, 0.17);
    backdrop-filter: blur(15px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 26px;

    .title {
      // font-family: "Urbanist";
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 55px;
      /* identical to box height, or 138% */

      text-align: center;

      color: #f0f0f0;
    }

    .followed-input,
    .general-input {
      background: rgba(255, 255, 255, 0.1);
      border: 1px solid rgba(255, 255, 255, 0.6);
      border-radius: 52px;
      padding: 10px 21px 10px 20px;
      border-radius: 100vw;
      color: white;

      .input-field {
        width: 95%;
        background-color: transparent;
      }
      .input-field:focus-visible {
        outline: none;
      }
    }
    .general-input {
      .prefix-number {
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.21);
        border: 1px solid rgba(255, 255, 255, 0.6);
        border-radius: 100vw;
        text-align: center;
      }
    }
    .followed-input {
      .eye-icon {
        width: 46%;
      }
    }

    .bottom-part {
      color: white;
      .check-text {
        // font-family: 'Urbanist';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: white;

        input {
          border: none;
          background: #ff754c;
        }
      }
      .signin-btn {
        padding: 12px 25px;

        // font-family: "Urbanist";
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        /* identical to box height */

        text-align: center;
        background: #2960ec;
        box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.2);
        border-radius: 100vw;
        color: white;
      }
    }
  }
}
